In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [20]:
url = 'https://finance.yahoo.com/quote/IBM/options?p=IBM'

In [21]:
page = requests.get(url)

In [22]:
doc = lh.fromstring(page.content)

In [23]:
tr_elements = doc.xpath('//tr')

In [24]:
[len(T) for T in tr_elements[:12]]

[11, 11, 11, 11, 11]

In [25]:
tr_elements = doc.xpath('//tr')

In [26]:
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Contract Name"
2:"Last Trade Date"
3:"Strike"
4:"Last Price"
5:"Bid"
6:"Ask"
7:"Change"
8:"% Change"
9:"Volume"
10:"Open Interest"
11:"Implied Volatility"

In [27]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=11:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [28]:
[len(C) for (title,C) in col]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [29]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [30]:
df.head()

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,IBM181026C00120000,2018-10-19 11:54PM EDT,120.00,9.59,7.40,11.75,0.00,-,1,0,53.76%
1,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
2,IBM181026P00113000,2018-10-19 11:54PM EDT,113.00,0.04,0.00,0.12,0.00,-,1,0,55.86%
3,IBM181026P00119000,2018-10-19 11:54PM EDT,119.00,0.17,0.11,0.16,0.00,-,103,0,44.34%

In [31]:
import csv
from datetime import datetime

In [32]:
df.to_csv('ibm.csv')